<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
        <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
        <!-- start:: Content -->
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon custom-header-icon-container">
                <i class="kt-font-brand fab fa-whmcs custom-header-icon"></i>
              </span>
                <h3 class="kt-portlet__head-title custom-header-title">
                    Troubleshooting
                  </h3>

            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                <div class="">
                  <!-- <a  (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark"
                    data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page" style="color:#93a2dd;">
                    <i class="fas fa-chevron-left"></i>
                    Back
                  </a> -->
                  <appbutton (click)="goBack()" text="Back" icon="fa-chevron-left" btnClass="btn-small-light" btnType="button"></appbutton>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-portlet">
              <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-xl-12">
                    <h3 class="col-form-label"  style="font-weight:bold;color: #646c9a;" >Log level settings:</h3>
                    <div class="kt-section__body">
                        <div class="form-group row">
                          <label class="col-3 col-form-label">ER log level</label>
                          <div class="col-6">
                            <dropdown label="" [options]="ERLogLevelOptions" dropdownDivClass="full-width" dropdownSelectClass="full-width label-no-show" [formControl]="ERLogLevelSelectControl"  (change)="onChangeESP($event.target.value)" [(ngModel)]="erLog"></dropdown>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-3 col-form-label">ER-UI log level</label>
                          <div class="col-6">
                            <dropdown label="" [options]="ERUILogLevelOptions" dropdownDivClass="full-width" dropdownSelectClass="full-width label-no-show" [formControl]="ERUILogLevelSelectControl"  (change)="onChangeESPUI($event.target.value)" [(ngModel)]="erUILog"></dropdown>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-3"></label>
                          <div class="col-6">
                            <appbutton text="Update" btnClass="btn-small" btnType="submit" icon="fa-sync-alt" (click)="UpdateLogServer()"></appbutton>
                          </div>
                        </div>
                        </div>
                        </div>
                </div>
            </div>
            </div>


            <div class="kt-portlet">
              <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-xl-12">
                    <h3 class="col-form-label"  style="font-weight:bold;color: #646c9a;" >Download Logs:</h3>
                    <div class="kt-section__body">
                        <div class="form-group row">
                          <label class="col-3 col-form-label">Container name</label>
                          <div class="col-6">
                            <dropdown label="" [options]="ContainerNameOptions" dropdownDivClass="full-width" dropdownSelectClass="full-width label-no-show" [formControl]="ContainerNameSelectControl"  (change)="onChangeLog($event.target.value)" [(ngModel)]="containerName"></dropdown>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-3 col-form-label">Available log files</label>
                          <div class="col-6">
                            <dropdown label="" [options]="logFileOptions" dropdownDivClass="full-width" dropdownSelectClass="full-width label-no-show" [formControl]="LogFileSelectControl"  (change)="selectLogFileItem($event.target.value)" [(ngModel)]="logFile"></dropdown>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-3"></label>
                          <div class="col-6">
                            <!-- <button  (click)="submitDownloadLogs()" class="btn btn-success" style="width:100px">
                              <span>Download</span>
                            </button> -->
                            <appbutton text="Download" btnClass="btn-small" (click)="submitDownloadLogs()"></appbutton>
                          </div>
                        </div>
                        </div>
                        </div>
                </div>

              </div>
            </div>

          <!-- End:: Portlet -->
          </div>
          <!-- END:: Content -->
        </div>
    </div>
</div>
