
  .bor-input {
    border: transparent 0px solid;
}
.box-width {
  width: 160px;
}
#jsoneditor {
  width: 100%;
  height: 800px;
}
.paragraph-align {
  color: #464457;
  font-weight: 600;
}
.section_title {
  display: block;
  padding: 0;
  margin: 0 0 1.75rem 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #b50404ad;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   /* font-weight: 600; */
   color:  #504f60;
}


.configinputClass {
  border: 0px;
  width: 100%;
  color: #1d1d2d;
  background-color: #dadada;
  font-size: 13px;

}

.inputClass {
  border: 0px;
  width: 50%;
}
.table td {
  font-size: 13px;
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #ebedf2;
}

.nav-background {
  background-color: #fff;
}

.kt-portlet__head-title{
  font-size: 14px;
-moz-osx-font-smoothing: grayscale;
}
.table th{
  font-size: 13px;
}
.nav-pills{
  margin: 0 0 0 0px !important;
  font-size: 15px !important
}
.link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
  background-color:  rgba(93, 120, 255, 0.1);
  color: #184ba1;
  font-size: 15px;
}

/* .nav-pills .nav-item .nav-link {

  padding: .75rem 1.25rem;
  transition: all .3s;
  font-size: 1rem;
  border-radius: .25rem;
  font-weight: 400;
  color:#48465b;
}
.link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
  background-color: #184ba1;
  color: #ffffff;
  font-size: 16px;
}
.active {
  background-color:  #184ba1;
  color: #ffffff;
  } */

/*
.enabled {
  background-color: #184ba1;
} */

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 500px;
}

/* :host ::ng-deep .jsoneditor-menu{
  background-color: #000000bd;
  border: 1px solid black;
} */

:host ::ng-deep .jsoneditor .jsoneditor-menu{
  background-color: #000000bd;
}

:host ::ng-deep .jsoneditor-contextmenu .jsoneditor-menu{
  background-color: white;
  border: 1px solid black;
  color: black;
}

:host ::ng-deep .jsoneditor{
  border: 1px solid hsla(236, 23%, 14%, 0.322) !important;
}

:host ::ng-deep .config_list .cuppa-dropdown .dropdown-list{
  position: relative;
}
.required label:after {
  color: #e32;
  content: ' *';
  display:inline;
}
.description_ex {
  color: #9da2bf;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
}

.auto_assign_filters{
  margin: 0px;
}

.nav-pills.nav-pills-sm .nav-item .nav-link{
  font-size: 15px !important
}
.kt-portlet_margin{
  margin-bottom:8px
}
.title{
  color: #403a3a !important;
}

.badge {
  display: inline-block;
  padding: .4em .4em;
  font-size: 85%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .form-group_margin{
    margin-bottom: 1.5rem;
  }
  .badge-light{
    background-color: rgba(93, 120, 255, 0.1) !important;
    color: #665656 !important;
  }
  ::ng-deep .swal2-container .format-pre .swal2-content .swal2-html-container{
    color:black;
    text-align: left !important;
  }

