<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
<div class="kt-portlet kt-portlet--mobile">
<!-- start:: Content -->
<!-- <form class="kt-form"> -->
<div class="kt-portlet__head kt-portlet__head--lg">
<div class="kt-portlet__head-label">
  <span class="kt-portlet__head-icon">
    <i class="kt-font-brand fa fa-desktop "></i>
  </span>
  <h3 class="kt-portlet__head-title">Config</h3>
</div>
  <div class="row mt-3" style="margin-left: 0px;">
  <div class="">
    <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" style="cursor: pointer;" data-toggle="tab"  (click)="showDataAsPerPlatformSelection('windows',config.data.windows)"role="tab"><img alt="Logo" src="./assets/media/logo/windows.svg" height="20px" width="20px" style="margin-right:5px"/>Windows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" data-toggle="tab" (click)="showDataAsPerPlatformSelection('linux',config.data.linux)" role="tab"><img alt="Logo" src="./assets/media/logo/Linux1.svg" height="20px" width="20px" style="margin-right:5px"/> Linux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" data-toggle="tab" (click)="showDataAsPerPlatformSelection('darwin',config.data.darwin)" role="tab"><i class="fab fa-2x fa-apple" style=""></i>Darwin</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="kt-portlet__head-toolbar">
    <div class="kt-portlet__head-wrapper">
      <div class="kt-portlet__head-actions">
            <div class="col-5" style="width:180px"></div>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet__body" style="padding-top: 8px;">
    <div  class="kt-portlet kt-portlet--mobile kt-portlet_margin">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <ul  class="nav nav-pills nav-pills-label nav-fill nav-background" role="tablist">
            <li *ngFor="let configName of custom_config_list" class="nav-item">
              <a class="nav-link" data-toggle="tab" (click)="get_details_of_custom_config(Platform_name,configName)"[ngClass]="{'active': selectedItem == configName}"
                href="#sc_{{configName}}" style="float: left;font-size: 15px">{{configName}}</a>
            </li>
          </ul>
        </div>
        <div class="kt-portlet__head-label"> </div>
          <div  *AppHasRole="role.adminAccess" class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
              <div class="kt-portlet__head-actions" >
                <button class="btn btn-success  mr-2" (click)='create_custom_config()'>Create Config</button>
            </div>
            </div>
          </div>
      </div>
  </div>

  <div  class="kt-portlet kt-portlet--mobile kt-portlet_margin">
    <div class="kt-portlet__body" style="padding-top:5px;padding-bottom:5px" >
      <div class="col-12 mt-2" style="padding-left: 1px">
      <div class=" form-group auto_assign_filters  row">
              <label class="kt-portlet__head-title col-1  col-form-label title" style="padding-left: 1px;">Description</label>
              <div class="col-6">
                <input type="text"  class="form-control" placeholder="Enter Text" [(ngModel)]="EditDescription" [disabled]="!hasAcess"/>
              </div>
      </div>
      </div>
  <div class="col-12 mt-2" style="padding-left: 1px">
  <div *ngIf="config_name!='Default'" class="form-group auto_assign_filters row">
        <h3 class="col-2.5 col-form-label title" style="padding-left: 1px;">Auto Assignment Criteria: <i class="badge badge-pill badge-light fa fa-info" title="Automatically assign the config on hosts at the time of enrolment based on host name and OS type. The names can contain wild card (*). If only one condition is provided then that is used. If both the conditions are provided, then the config is applied if both of them match"></i></h3>
        <label class="col-1.5 col-form-label pl-3">Host Name </label>
        <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="EditHostname" placeholder="Example:HostName, *HostName*, *" [disabled]="!hasAcess"/>
        </div>
        <label class="col-1.7 col-form-label">Operating System</label>
        <div class="col-3">
          <input type="text"  class="form-control" [(ngModel)]="EditOS" placeholder="Example:Windows, *Windows*, *" [disabled]="!hasAcess"/>
        </div>
  </div>
</div>
</div>
</div>
<!-- begin:: Table -->
<div class="kt-portlet kt-portlet--mobile kt-portlet_margin">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h5 class="kt-portlet__head-title title">Queries</h5>
    </div>
  </div>
  <div class="kt-portlet__body config_body_loader">
    <div class="ph-item">
    <div class="ph-col-12">
    <div class="ph-picture"></div>
    <div class="ph-row">
      <div class="ph-col-4 big"></div>
      <div class="ph-col-8 empty big"></div>
      <div class="ph-col-6 big"></div>
      <div class="ph-col-6 empty big"></div>
      <div class="ph-col-2 big"></div>
      <div class="ph-col-10 empty big"></div>
      <div class="ph-col-6 big"></div>
      <div class="ph-col-6 empty big"></div>
      </div>
        <div class="ph-picture"></div>
      <div class="ph-row">
        <div class="ph-col-4 big"></div>
        <div class="ph-col-8 empty big"></div>
        <div class="ph-col-6 big"></div>
        <div class="ph-col-6 empty big"></div>
        <div class="ph-col-2 big"></div>
        <div class="ph-col-10 empty big"></div>
        <div class="ph-col-6 big"></div>
        <div class="ph-col-6 empty big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-4 big"></div>
          <div class="ph-col-8 empty big"></div>
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-10 empty big"></div>
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 empty big"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="config_body" style="display: none;">
    <div class="kt-portlet__body" style="padding-top:5px;" >
    <table   class="table table-hover table-checkable table-outer-remove" id="">
      <thead >
        <tr>
          <th style="width:6%">Select</th>
          <th style="width:44%">Name</th>
          <th style="width:30%">Interval <span class="intrvl-fnt-md">(in secs)</span></th>
          <th style="width:20%"></th>
        </tr>
      </thead>
        <tbody id="tbody" >
          <tr *ngFor="let config_val of config_data| keyvalue;">
            <td ><input id="status" class="checkboxClass"  name="status" type="checkbox" (ngModelChange)="get_changed_data(config_data)"  [ngModelOptions]="{standalone: true}" [(ngModel)]="config_val.value.status" [disabled]="!hasAcess"></td>
            <td><input class="configinputClass" name="name" disabled="true"  value="{{config_val.key}}" title="{{config_val.value.query}}" /></td>
            <td ><input class="inputClass" type="number" id="interval" min="1"  name="interval"  (ngModelChange)="get_changed_data(config_data)" [ngModelOptions]="{standalone: true}"  [(ngModel)]="config_val.value.interval" [disabled]="!hasAcess"/><span *ngIf="config_val.value.interval<1 || config_val.value.interval>604800 " class="invalid-feedback" style="display:block;">Range should be in between 1-604800</span></td>
          </tr>
        </tbody>
     </table>
    </div>
  </div>

</div>
<!-- End:: Table -->
</div>

<div class="kt-portlet kt-portlet--mobile displayNone" id="display">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title"><strong></strong> Additional Config and Filters</h3>
    </div>
  </div>

  <div class="kt-portlet__body" id=" ">
        <div><json-editor [options]="options" [data]="filters"></json-editor></div>
        <div  class="kt-portlet__foot text-center">
          <button  *AppHasRole="role.adminAccess"  type="submit" (click)="OnSubmitDelete()" class="btn btn-danger mr-2" id="buttonvisible" style="background-color: #dc3912;color: white;">
            <span>Delete</span>
          </button>
          <button  *AppHasRole="role.adminAccess"  type="submit" (click)="OnSubmitUpdate()" class="btn btn-success " id="buttonvisible" ><i class="fa fa-sync-alt"></i>
            <span>Update</span>
          </button>
        </div>
  </div>

</div>
<div class="modal" id="create_custom_config_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;z-index: 910; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="width:650px;margin:auto" >
      <div class="modal-header">
         <h5 class="title kt-portlet__head-title">Create a Config</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close_add_custom_modal()"></button>
      </div>
      <div class="modal-body kt-scroll" data-scroll="true" data-height="200" data-scrollbar-shown="true">

        <form [formGroup]="custom_config_Form" (ngSubmit)="onSubmit_add_custom_config_Form()">
          <div class="form-row">
            <div class="form-group col">
              <div class="form-group form-group_margin row required">
                <label class="col-md-2 col-form-label">Name</label>
                  <div class="col-7">
                  <input type="text" formControlName="Config_Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Config_Name.errors }" />
                    <div *ngIf="submitted && f.Config_Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Config_Name.errors.required"> Name is required</div>
                    </div>
                    <div *ngIf="f.Config_Name.errors==null && custom_config_list.includes(this.f.Config_Name.value)"class="invalid-feedback" style="display:block;">
                         <p>{{validationMessage}}</p>
                    </div>
                  </div>
            </div>
            <div class="form-group row required form-group_margin">
                <label class="col-md-2 col-form-label">Description</label>
                <div class="col-7">
                    <input type="text" formControlName="Description" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.Description.errors }"/>
                    <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                      <div *ngIf="f.Description.errors.required"> Description is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row required form-group_margin">
              <label class="col-md-2 col-form-label">Copy From</label>

            <div class="col-7" >
              <angular2-multiselect class="config_list" [data]="config_list_dropdown" [(ngModel)]="config_list_selectedItems" formControlName="config_list" [ngClass]="{ 'is-invalid': submitted && f.config_list.errors }"
              [settings]="config_list_dropdownSettings"
              (onSelect)="onItemSelect_config($event)"
              (onDeSelect)="OnItemDeSelect_config($event)"
              (onDeSelectAll)="onDeSelectAll_config($event)"></angular2-multiselect>
              <div *ngIf="submitted && f.config_list.errors" class="invalid-feedback">
                <div *ngIf="f.config_list.errors.required">Please select config</div>
            </div>
            </div>
          </div>
          <div class="form-group form-group_margin row"></div>
          <div class="form-group row">
          <h3 class="kt-portlet__head-title col-4 title" >Auto Assignment Criteria: <i class="badge badge-pill badge-light fa fa-info" title="Automatically assign the config on hosts at the time of enrolment based on host name and OS type. The names can contain wild card (*). If only one condition is provided then that is used. If both the conditions are provided, then the config is applied if both of them match."></i></h3>
        </div>
          <div class="form-group form-group_margin row">
            <label class="col-md-2 col-form-label">Host Name</label>
            <div class="col-7">
              <input type="text" formControlName="host_Name" class="form-control" placeholder="Example:HostName, *HostName*, *"/>
            </div>
         </div>
        <div class="form-group form-group_margin row">
          <label class="col-md-2 col-form-label">OS Name</label>
          <div class="col-7">
               <input type="text" formControlName="Os_Name" class="form-control" placeholder="Example:Windows, *Windows*, *" />
          </div>
        </div>
            <p><span style="color:#e32">Note : </span>New config will be created by taking queries and filters of selected config.</p>
            </div>
        </div>
         <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal">Create</button>
          <button type="button" class="btn btn-outline-secondary" (click)="close_add_custom_modal()" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
   </div>
  </div>
 </div>
<!-- </form> -->
<!-- end:: Content -->
</div>
</div>
</div>
</div>
