<!-- begin:: Content -->
<div class="kt-grid kt-grid--hor kt-grid--root" *ngIf="!insideUserProfile">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">
      <!--begin::Portlet-->
      <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-user-shield"></i>
            </span>
            <h3 class="kt-portlet__head-title">
              Change Password
            </h3>
          </div>
          <div *ngIf="!resetPassword" class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
              <!-- <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                <i class="fas fa-chevron-left back_icon_align"></i>
                Back
              </a> -->
              <appbutton (click)="goBack()" text="Back" icon="fa-chevron-left" btnClass="btn-small-light" btnType="button"></appbutton>
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <form class="kt-form" id="kt_form" [formGroup]="changePassword" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    <div class="form-group row required">
                      <label class="col-sm-3 col-form-label form--label lbl-clr">
                      Existing Password
                      </label>
                      <div class="col-9">
                      <input type="password" name="existing_Password" id="password" formControlName="existing_Password"  class="form-control" />
                      </div>
                      </div>

                    <div class="form-group row required">
                      <label class="col-sm-3 col-form-label form--label lbl-clr">
                      New Password
                      </label>
                      <div class="col-9">
                      <input type="password" name="new_password" id="new_password" formControlName="new_Password"  class="form-control" />
                      </div>
                      </div>

                      <div class="form-group row required">
                        <label class="col-sm-3 col-form-label form--label lbl-clr">
                        Confirm New Password
                        </label>
                        <div class="col-9">
                        <input type="password" name="confirm_new_password" id="confirm_new_password" formControlName="confirm_new_Password"  class="form-control" />
                        </div>
                        </div>

                  </div>
                </div>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions kt-form__actions--center">
                    <!-- <button *ngIf="isLoading == true" class="btn btn-success" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Updating...
                     </button> -->
                    <!-- <button *ngIf="isLoading == false" type="submit" class="btn btn-success">
                      <span>Submit</span>
                    </button> -->
                    <!-- <button type="reset" style="margin-left: 5px;" class="btn btn-secondary" >Clear</button> -->

                    <appbutton *ngIf="isLoading" text="Updating" btnClass="btn-small" btnType="button" [isDisabled]="true" [isLoading]="true"></appbutton>
                    <appbutton *ngIf="!isLoading" text="Submit" btnClass="btn-small" btnType="submit" ></appbutton>
                    <appbutton text="Clear" btnClass="btn-small-light" btnType="reset"></appbutton>

                  </div>
                </div>
              </div>
              <div class="col-xl-1"></div>
            </div>
          </form>
        </div>
      </div>
      <!--end::Portlet-->
      </div>
    </div>
</div>
<form class="kt-form" id="kt_form" [formGroup]="changePassword" (ngSubmit)="onSubmit()" *ngIf="insideUserProfile">
  <div class="row">
    <div class="col-xl-12">
      <div class="kt-section kt-section--first">
        <div class="kt-section__body">
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label form--label lbl-clr">
            Existing Password
            </label>
            <div class="col-5">
            <input type="password" name="existing_Password" id="password" formControlName="existing_Password"  class="form-control" />
            </div>
            </div>

          <div class="form-group row required">
            <label class="col-sm-2 col-form-label form--label lbl-clr">
              New Password
            </label>
            <div class="col-5">
            <input type="password" name="new_password" id="new_password" formControlName="new_Password"  class="form-control" />
            </div>
            </div>

            <div class="form-group row required">
              <label class="col-sm-2 col-form-label form--label lbl-clr">
              Confirm New Password
              </label>
              <div class="col-5">
              <input type="password" name="confirm_new_password" id="confirm_new_password" formControlName="confirm_new_Password"  class="form-control" />
              </div>
              </div>

        </div>
      </div>
      <div class="kt-portlet__foot no-border">
        <div class="kt-form__actions kt-form__actions--center element-right">
          <appbutton text="Cancel" btnClass="btn-small-light" (click)="toggle()"></appbutton>
          <appbutton *ngIf="isLoading" text="Updating" btnClass="btn-small" btnType="button" [isDisabled]="true" [isLoading]="true"></appbutton>
          <appbutton *ngIf="!isLoading" text="Save" btnClass="btn-small" btnType="submit" ></appbutton>
          

        </div>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
</form>

  <!-- end:: Content -->
