/* You can add global styles to this file, and also import other style files */
@import "~jsoneditor/dist/jsoneditor.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
 /* @import '~ngx-toastr/toastr.css'; */

/*@import '~ngx-toastr/toastr-bs4-alert.scss';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert'; */

/* Alerts -> Investigate -> Process Analysis Graph Start   */
.blue {
    color: #468cd2;
  }
  /* td.sorting_1{
    display:none;
  } */
.ngx-datepicker-calendar-container {
  position: relative;
  z-index: 9999;
}
  div.dataTables_scrollHead {
    background-color: white;
  }

  .nav-background {
    background-color: ghostwhite;
  }

  svg {
    font: 11px sans-serif;
  }

  .plot {
    fill: rgba(250, 250, 255, 0.6);
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }

  .circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .node--clicked {
    stroke: #b54954;
    stroke-width: 2px;
    cursor: pointer;
    border-width: thin;
  }

  .nav-tab-padding {
    padding: 10px;
    margin-bottom: auto;
  }

  #sc_win_http_events_table_filter {
    width: 320px !important;
    float: right;
  }
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 200px !important;
  }

.text_change {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #464457;
    cursor: pointer;
  }

  .timeline-pf-context {
    display: none;
  }

  .timeline-pf-x-axis.context {
    display: none;
  }

  .timeline-pf-chart {
    margin-left: -20px;
    width: 870px;
    /* width: 100% !important; */
    /* height: 250px !important; */
  }

  #pf-timeline-data {
    /* height: 20px !important;
        width: 40% !important; */
    float: right;
  }

  #pf-timeline-graph {
    /* height: 20px !important;
        width: 80% !important; */
    float: left;
  }

  #collapseOne {
    height: 100%;
  }

  .nav-background {
    background-color: ghostwhite;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .chartTitle {
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
  }

  .axis .title {
    font-weight: bold;
    text-anchor: middle;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .nav .area {
    fill: lightgrey;
    stroke-width: 0px;
  }

  .nav .line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
  }

  .viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.3;
  }

  .viewport .extent {
    fill: green;
  }

  .well {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .separator-line {
    /* border-right: 1px solid #d1d1d1; */
    display: table-cell;
    float: left;
    margin-bottom: 0;
    /* padding-left: 20px; */
    padding-right: 20px;
  }

  .separator-lin {
    display: table-cell;
    float: left;
    margin-bottom: 0;
    padding-left: 20px;
  }

  #pf-timeline-data_filter .form-control-sm {
    width: 170px !important;
  }

  #pf-timeline {
    height: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* margin-bottom: -101px; */
  }

  #pf-timeline .popover {
    white-space: pre;
    max-width: none;
  }

  #eventsData button {
    padding: 0px !important;
  }

  #accordion2 .row {
    height: 235px !important;
  }

  .card-body {
    /* padding: 0px !important; */
  }


  .collapsible:after {
    /* content: "\2212"; */
    content: '\002B';
    float: left;
    /* margin-left: 15px; */
    margin-right: 15px;
  }

  .active_1:after {
    content: "\2212";
    /* content: '\002B'; */
  }

  .collapsible:hover {
    color: #2739c1;
  }

  #timeline-pf-zoom-in {
    padding: 1px !important;
    /* top: -35px !important; */
    top: -43px !important;
    left: 99% !important;
    padding-left: 7px !important;
  }


  #timeline-pf-zoom-out {
    top: -16px !important;
    /* top: 0px !important; */
    left: 99% !important;
    padding: 1px !important;
    padding-left: 7px !important;
  }

  #timeline-pf-slider {
    display: none
  }

  #pf-timeline-data_filter {
    display: none;
  }

  #pf-timeline-data_length {
    display: none;
  }

  .drawline2 {

    width: 120px;
    height: 18px;
    border-bottom: 1px solid #ccc !important;
    position: absolute;
  }

  .nodeinfo {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #45455b;
  }

  .tblClass {
    table-layout: fixed;
    width: 287px;
  }

  .cellCss {
    word-wrap: break-all;
    font-weight: 400;
    font-size: 10px;
    font-family: Poppins;
    color: rgb(33, 37, 41);
  }

  .filter-option-inner {
    color: #212529 !important;
  }

  .td_css {
    font-weight: 500;
    border-bottom-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #212529;
  }

  #global-search {
    border: 1px solid #ebedf2;
    border-radius: 4px;
    padding: 9px;
  }

  #collapseOne .form-group {
    margin-bottom: 0px;
  }

  .checkbox_add {
    border-radius: 5px 5px 5px;
    border: 1px solid #c2c2c2;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    left: 161px;
    bottom: 17px;
    border-style: hidden;
  }

  .dropdown-item {
    /* padding-top: 16px !important; */
    padding-bottom: 0px !important;
  }

  span.bs-ok-default.check-mark {
    margin-top: -11px !important;
    color: #7d829f !important;
  }

  div.inner.show {
    overflow-y: scroll !important;
    max-height: 227.359px !important;
  }

  g.timeline-pf-x-axis.focus {
    /* display: none; */
  }

  div#pf-timeline-data_info.dataTables_info {
    /* display: none; */
  }

  .node {
        cursor: pointer;
    }

    .node > circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node text {
        font: 10px sans-serif;
    }

    .collapsible2:after {
        content: '\002B';
        /* content: "\2212"; */
        float: left;
        margin-right: 15px;
    }

    .active_1:after {
        /* content: '\002B'; */
        content: "\2212";
    }


    .link {
        fill: none;
        /*stroke: steelblue;*/
        opacity: 0.3;
        /*stroke-width: 1.5px;*/
    }

    .collapsible2:hover {
        color: #2739c1;
    }

    #eventsData_process button {
        padding: 2px !important;
    }

    .drawline {
        width: 99px;
        height: 18px;
        border-bottom: 1px solid #ccc !important;
        position: absolute;
    }

    .nodeinfo {
        font-size: 13px;
        margin-top: 10px;
        font-weight: bold;
        color: #45455b;
    }

    .tblClass {
        table-layout: fixed;
        width: 287px;
    }

    .cellCss {
        word-wrap: break-all;
        font-weight: 400;
        font-size: 10px;
        font-family: Poppins;
        color: rgb(33, 37, 41);
    }
    /*  Alerts -> Investigate -> Process Analysis Graph End   */
/* Datatable empty message */
.dataTables_empty {
display: none;
}
.no-data-available {
  text-align: center;
}
.selected-list{
  border: 1px solid #ebedf2;
  border-radius: 4px;
  color: #495057;
}






.green-m.hovered,.green-m.selected {
    cursor: pointer;
}



tbody.no_records::after{
  content: 'No matching records found';
  text-align: center;
}

/* tab css start*/
.tab-wrap {
  transition: 0.3s box-shadow ease;
  /* border-radius: 6px; */
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  /* margin: 40px 0; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tab-wrap:hover {
  /* box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); */
}
.tab {
  display: none;
}
.tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}

.tab:checked:nth-of-type(6) ~ .tab__content:nth-of-type(6) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(7) ~ .tab__content:nth-of-type(7) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(8) ~ .tab__content:nth-of-type(8) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(9) ~ .tab__content:nth-of-type(9) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(10) ~ .tab__content:nth-of-type(10) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(11) ~ .tab__content:nth-of-type(11) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(12) ~ .tab__content:nth-of-type(12) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(13) ~ .tab__content:nth-of-type(13) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(14) ~ .tab__content:nth-of-type(14) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(15) ~ .tab__content:nth-of-type(15) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(16) ~ .tab__content:nth-of-type(16) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(17) ~ .tab__content:nth-of-type(17) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(18) ~ .tab__content:nth-of-type(18) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(19) ~ .tab__content:nth-of-type(19) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(20) ~ .tab__content:nth-of-type(20) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(21) ~ .tab__content:nth-of-type(21) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(22) ~ .tab__content:nth-of-type(22) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(23) ~ .tab__content:nth-of-type(23) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(24) ~ .tab__content:nth-of-type(24) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(25) ~ .tab__content:nth-of-type(25) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(26) ~ .tab__content:nth-of-type(26) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(27) ~ .tab__content:nth-of-type(27) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(28) ~ .tab__content:nth-of-type(28) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(29) ~ .tab__content:nth-of-type(29) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(30) ~ .tab__content:nth-of-type(30) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(31) ~ .tab__content:nth-of-type(31) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(32) ~ .tab__content:nth-of-type(32) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(33) ~ .tab__content:nth-of-type(33) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(34) ~ .tab__content:nth-of-type(34) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(35) ~ .tab__content:nth-of-type(35) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(36) ~ .tab__content:nth-of-type(36) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(37) ~ .tab__content:nth-of-type(37) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(38) ~ .tab__content:nth-of-type(38) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(39) ~ .tab__content:nth-of-type(39) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(40) ~ .tab__content:nth-of-type(40) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(41) ~ .tab__content:nth-of-type(41) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(42) ~ .tab__content:nth-of-type(42) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(43) ~ .tab__content:nth-of-type(43) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(44) ~ .tab__content:nth-of-type(44) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(45) ~ .tab__content:nth-of-type(45) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(46) ~ .tab__content:nth-of-type(46) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(47) ~ .tab__content:nth-of-type(47) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(48) ~ .tab__content:nth-of-type(48) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(49) ~ .tab__content:nth-of-type(49) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}.tab:checked:nth-of-type(50) ~ .tab__content:nth-of-type(50) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}
.tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}
.tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #f2f2f2;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}
/* boring stuff */
body {
  /*font-family: 'Helvetica', sans-serif;*/
  /* background-color: #e7e7e7; */
  color: #777;
  padding: 30px 0;
  padding-top:0px;
  font-weight: 600;
}
.container {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  /* max-width: 80vw; */
}
.container > *:not(.tab-wrap) {
  padding: 0 0px;
}
h1 {
  margin: 0;
  color: #444;
  font-weight: 400;
}
h2{
text-style:bold
}

h3 {
  font-weight: 400;
}
p {
  line-height: 1.6;
  margin-bottom: 20px;
}
/* tab css end */
/* option jsoneditor filter start */
button.jsoneditor-transform{
  display: none;
}
/* option jsoneditor filter End */
#pf-timeline-data tbody tr.odd td.sorting_1{
  display: none;
}
#pf-timeline-data tbody tr.even td.sorting_1{
  display: none;
}

/* Live queries ace editor start*/
.ace-github .ace_print-margin {
  width: 0px;
  }
th.sorting_asc{
  font-weight: normal;
}
li.selected-item{
  background-color: #52B2A8  !important;
  color: #fff;
}
/* Live queries ace editor End*/

.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0em;
}
.jsoneditor-contextmenu{
  z-index: 2;
}

.ace_identifier{color:#3f64ed;font-weight:600}
.ace_osquerycolumn{color:#FF7F00}
.ace_table.ace_operator{color:#800000}
.ace_table{color:#800000;font-weight:600}
.ace_keyword.ace_operator{color:black}
.ace_keyword{color:#3f64ed;font-weight:600}
