<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
      <div class="kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile mb-0">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon custom-header-icon-container">
                <i class="kt-font-brand fa fa-search custom-header-icon"></i>
              </span>
              <h3 class="kt-portlet__head-title custom-header-title">
                Search
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
              </div>
            </div>
          </div>
          <div class="kt-portlet__body container-body flex-flow-col">
          <div class="">
            <div class="paragraph-align">
            </div>
             <!-- begin:: form -->
            <form id="search_form" class="kt-form">
              <div class="row">
                <div class="col-12">
                  <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                      <div class="paragraph-align">
                        <p>Search across the entire endpoint data using the filter conditions. Filter is applicable on the
                          columns of schedule query data.
                        </p>
                      </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">
                            Condition
                        </label>
                        <div class="col-10 kt-condition-fnt">
                          <query-builder class="rules-group-container" [allowRuleset] = 'true' [operatorMap]='OperatorMap'  [config]='config' [data]="query" [classNames]='bootstrapClassNames'></query-builder>
                        </div>

                      </div>
                         <!-- begin:: datepicker -->
                      <div class="form-group row">
                        <div class="col-2 col-form-label"></div>
                        <div class="col-2" style="padding-left:0px">
                          <select  value="3" class="form-control" style="cursor: pointer;" (change)="get_duration($event.target.value)" >
                            <option value="2">1 day</option>
                            <option value="3" selected="selected">1 week</option>
                            <option value="4">1 month</option>
                          </select>
                        </div>
                        <div class="col-4" >
                          <div class="row">
                            <span style="margin-top:10px;margin-bottom: auto;margin-right:10px;" data-toggle="tooltip" data-placement="top" title="UTC Time Zone">Ending Date</span>

                            <!-- <ng-datepicker [(ngModel)]="datepicker_date['date']" [ngModelOptions]="{standalone: true}" (ngModelChange)="myHandler()" ></ng-datepicker> -->
                            <form class="form-inline">
                              <div class="form-group">
                                <div class="input-group">
                                  <input class="form-control" placeholder="yyyy-mm-dd"
                                         name="dp" [(ngModel)]="selectedDate['date']" [maxDate]="maxDate"  (click)="d.toggle()" (ngModelChange)="myHandler()"  ngbDatepicker #d="ngbDatepicker">
                                  <div class="input-group-append">
                                    <button class="btn calendar calender-img" (click)="d.toggle()" type="button"><i class="far fa-calendar-alt fa-2x" aria-hidden="true"></i></button>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- End:: datepicker -->
                      <div class="form-group row">
                        <div class="col-2 col-form-label"></div>
                        <div class="col-10" style="padding-left:0px">
                          <!-- <button type="button" id="button" (click)="search()" class="btn btn-primary btn-sm">
                            <i class="fas fa-search"></i>Search
                            <span *ngIf="loading"  class="spinner-border spinner-border-sm" style="margin-left: 10px" role="status" aria-hidden="true"></span>
                          </button> -->
                          <appbutton text="Search" btnClass="btn-small btn-long" btnType="button" icon="fa-search" (click)="search()" [isLoading]="loading"></appbutton>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
              <!-- End:: form -->
           </div>
           <div class="overflow-y-clip table_data flex-2">
            <div class="full-height" >
              <!--begin: Datatable -->
              <table id="search_table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-checkable full-height custom-paginate-wrapper" style="text-align: left;" >
                <thead>
                  <tr>
                    <th class="wd">Host Name</th>
                    <th class="wd">Query Name</th>
                    <th>Columns</th>
                  </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let alrowdata of search_data_output; let i = index ">
                        <td style="vertical-align:left;">
                          <a [routerLink]="['/hosts/', alrowdata.node_id]" class="active ft-sz" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="click -> Host Details" style="color:#5867dd;font-weight: 600;">{{alrowdata.hostname}}</a>
                        </td>
                        <td class="ft-sz" style="vertical-align:left;">

                        {{alrowdata.name}}
                        </td>
                        <td class="cell-breakWord pl-0">

                          <div (click)="ele.class = ele.class == 'showChildren' ? '' : 'showChildren'" [ngClass]="{ hideChildren : ele.class !== 'showChildren' }" #ele>
                            <font color='#16ace3'>
                                <div >
                                  <div class="sql hljs desc-background_rules container ft-sz ml-0" [class.show_1]="alrowdata.visible_1" style="cursor: pointer;">
                                    {{myjson.stringify(alrowdata.columns)}}
                                  </div>
                                  <span *ngIf="myjson.stringify(alrowdata.columns).length > 200" style="cursor: pointer;padding-left:10px" class="kt-link" (click)="alrowdata.visible_1 = !alrowdata.visible_1; $event.stopPropagation()">{{ alrowdata.visible_1 ? 'Read less': 'Read More' }}</span>
                                </div>
                        </font>
                          <div (click)="action($event);false" >
                            <div class="col-10"></div>
                            <th >
                          <dt *ngFor="let subhostdata of alrowdata.columns | keyvalue">

                            <!--md5-->
                            <dl *ngIf="subhostdata.key=='md5'" style="word-break: break-word;padding-left: 40px;" >

                            {{subhostdata.key}}
                            {{":"}}

                            <a onclick="window.open(this.href,'_blank');return false;" target="_blank" target="_blank"  href="https://www.virustotal.com/#/file/{{subhostdata.value}}/detection" >{{subhostdata.value}}</a>
                            </dl>

                            <!--domain_name-->
                            <dl *ngIf="subhostdata.key=='domain_name'" style="word-break: break-word;padding-left: 40px;" >

                            {{subhostdata.key}}
                            {{":"}}

                            <a onclick="window.open(this.href,'_blank');return false;" target="_blank" href="https://www.virustotal.com/#/domain/{{subhostdata.value}}" >{{subhostdata.value}}</a>
                            </dl>

                            <!--sha256-->
                            <dl *ngIf="subhostdata.key=='sha256'" style="word-break: break-word;padding-left: 40px;" >

                            {{subhostdata.key}}
                            {{":"}}

                            <a onclick="window.open(this.href,'_blank');return false;" target="_blank" href="https://www.virustotal.com/#/file/{{subhostdata.value}}/detection" >{{subhostdata.value}}</a>
                            </dl>


                            <dl *ngIf="!(subhostdata.key=='md5') && !(subhostdata.key=='domain_name') && !(subhostdata.key=='sha256')" style="word-break: break-word;padding-left: 40px;" >

                              {{subhostdata.key}}
                              {{":"}}

                             {{subhostdata.value}}
                            </dl>

                          </dt>
                        </th>
                          </div>
                          </div>
                          </td>
                      </tr>
                </tbody>
                <tr role="row" class="text-center" *ngIf="search_data_output?.length === 0">
                  <td colspan="3" style="font-size: larger;">
                    No results found
                  </td>
                </tr>
              </table>
              <!--end: Datatable -->
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
