<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
        <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile" style="margin-bottom: 0px;">
        <!-- start:: Content -->
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand fab fa-whmcs"></i>
              </span>
                <h3 class="kt-portlet__head-title">
                    Data Purge
                  </h3>

            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                <div class="">
                  <a  (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark"
                    data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page" style="color:#93a2dd;">
                    <i class="fas fa-chevron-left"></i>
                    Back
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="kt-portlet">
              <div class="kt-portlet__body">
                <form class="kt-form" id="kt_form" [formGroup]="dataRetentionSettings" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xl-12">
                    <h3 class="col-form-label"  style="font-weight:bold;color: #646c9a;" >Data retention settings :</h3>
                    <div class="kt-section__body">
                                <div class="form-group row">
                                  <label class="col-3 col-form-label">Data retention intervel : <i class="help-badge badge-pill badge-light fa fa-info" title="Below data will be automatically deleted beyond the retention interval.
1.Alerts
2.Scheduled query results
3.Status Logs
4.Deleted hosts"></i></label>
                                  <div class="col-6">
                                    <input  type="number" id="interval" id="purgeDataDuration" min="1"  name="purgeDataDuration"  formControlName="purgeDataDuration" class="form-control inputElement "[ngClass]="{ 'is-invalid': submitted && f.purgeDataDuration.errors }" [readonly]="!hasAcess" />
                                    <div *ngIf="submitted && f.purgeDataDuration.errors" class="invalid-feedback">
                                      <div *ngIf="f.purgeDataDuration.errors.required">Error On Purge Data Field</div>
                                      <div *ngIf="f.purgeDataDuration.errors.min">Please select a positive value </div>
                                    </div>
                                    <label class="">days</label>
                                  </div>
                                </div>
                                <div *AppHasRole="role.adminAccess" class="form-group row">
                                  <label class="col-3"></label>
                                  <div class="col-6">
                                    <button  style="width:100px"  type="submit" class="btn btn-success"><i class="fa fa-sync-alt"></i>
                                      <span>Update</span>
                                    </button>
                                  </div>
                                </div>
                        </div>
                        </div>
                </div>
                </form>
            </div>
            </div>
          <!-- End:: Portlet -->
          </div>
          <!-- END:: Content -->

          <div class="kt-portlet__body mt-n5">
            <div class="kt-portlet">
              <div class="kt-portlet__body">
                <form class="kt-form" id="kt_form" [formGroup]="manualDataPurge" (ngSubmit)="onSubmitDataPurge()">
                <div class="row">
                    <div class="col-xl-12">
                    <h3 class="col-form-label"  style="font-weight:bold;color: #646c9a;" >Manual data purge :</h3>
                    <div class="kt-section__body">
                                <div class="form-group row">
                                  <label class="col-3 col-form-label">Retain last x days data : <i class="help-badge badge-pill badge-light fa fa-info" title="Below data will be automatically deleted beyond the retention interval.
1.Alerts
2.Scheduled query results
3.Status Logs
4.Deleted hosts"></i></label>
                                  <div class="col-6">
                                        <input type="number" name="manualDataPurgeval" min="1" formControlName="manualDataPurgeval"  class="form-control" [readonly]="!hasAcess"/>
                                        <label class="">days</label>
                                  </div>
                                </div>
                                <div *AppHasRole="role.adminAccess" class="form-group row">
                                  <label class="col-3"></label>
                                  <div class="col-6">
                                    <button  style="width:100px" type="submit" class="btn btn-success"><i class="fa fa-sync-alt"></i>
                                      <span>Purge</span>
                                    </button>
                                  </div>
                                </div>
                        </div>
                        </div>
                </div>
                </form>
            </div>
            </div>
          <!-- End:: Portlet -->
          </div>
          <!-- END:: Content -->
        </div>
    </div>
</div>
