<!-- begin:: Content -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon custom-header-icon-container">
                <i class="fa fa-user  fnt-green custom-header-icon"></i>
              </span>
              <h3 class="kt-portlet__head-title custom-header-title">
                Edit User Details
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark"
                  data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                  <i class="fas fa-chevron-left back_icon_align"></i>
                  Back
                </a>
              </div>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body py-2">
            <form class="kt-form mt-4" id="kt_form" [formGroup]="EditUserForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-11">
                  <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="form-group row required">
                            <label class="col-sm-2 col-form-label form--label"> User Name</label>
                            <div class="col-7">
                              <input  type="text" placeholder="Username"  name="userName"  formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"/>
                                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                                  <div *ngIf="f.userName.errors.required">User Name is required</div>
                                  <div *ngIf="f.userName.errors.maxlength">User Name can be max 48 characters long</div>
                              </div>
                            </div>
                        </div>
                        <div class="form-group row required">
                            <label class="col-sm-2 col-form-label form--label">First Name</label>
                            <div class="col-7">
                              <input  type="text" placeholder="First Name"  name="firstName"formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
                              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.maxlength">First Name can be max 25 characters long</div>
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                           </div>
                            </div>
                        </div>
                        <div class="form-group row ">
                          <label class="col-sm-2 col-form-label form--label"> Last Name </label>
                          <div class="col-7">
                            <input  type="text" placeholder="Last Name"   name="lastName"  formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                              <div *ngIf="f.lastName.errors.maxlength">Last Name can be max 48 characters long</div>
                         </div>
                          </div>
                        </div>
                        <div class="form-group row required">
                            <label class="col-sm-2 col-form-label form--label"> Email</label>
                            <div class="col-7">
                              <input type="text" id="idEmailAddress"placeholder="Email"  name="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                  <div *ngIf="f.email.errors.required">Email is required</div>
                                  <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                                </div>
                          </div>
                        </div>
                        <div class="form-group row required">
                            <label class="col-sm-2 col-form-label form--label">Role</label>
                            <div class="col-10">
                              <div class='row'>
                                <ng-container *ngFor="let role of roleslist let i=index">
                                <div class="kt-radio-inline">
                                  <div class="col-2">
                                  <label class="kt-radio">
                                    <input type="radio"   name="role"   formControlName="role" class="form-control"  [value]="role" >
                                    <label >{{role}}</label>
                                    <span></span>
                                  </label>
                                </div>
                                </div>
                                </ng-container>
                              </div>
                                <span class="error-msg text-danger" *ngIf="submitted && EditUserForm.controls['role'].errors?.required" style="font-size: 80%">
                                  Please select any option above!
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label form--label"> Status</label>
                          <div class="col-7">
                            <div class="kt-radio-inline">
                          <ng-container *ngIf="getuser?.status ==false" >
                            <label class="kt-checkbox">
                              <input type="checkbox"   name="status"   formControlName="status" class="form-control"  [value]="true" >
                              <label >Re-activate</label>
                              <span></span>
                            </label>
                          </ng-container>
                          <ng-container *ngIf="getuser?.status ==true" >
                            <label class="kt-checkbox">
                              <input type="checkbox"   name="status"   formControlName="status" class="form-control"  [value]="false" >
                              <label >De-activate</label>
                              <span></span>
                            </label>
                          </ng-container>
                          </div>
                          </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-8">
                         <input   name="enable_sso"  name="enable_sso"   formControlName="enable_sso" type="checkbox">&nbsp;&nbsp;
                         <span >Enable single sign on</span>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot ">
                    <div class="kt-form__actions kt-form__actions--center">
                      <!-- <button  class="btn btn-success">
                        <span>Update</span>
                      </button> -->
                      <appbutton text="Update" btnClass="btn-small"></appbutton>
                    </div>
                  </div>
                </div>
              </div>
            </form>
         </div>
          <!--End::Form-->
    </div>
   </div>
   </div>
</div>
  <!-- end:: Content -->
