<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
<!--Begin:: Modal-->
      <div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true" style="display: none; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
       <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div class="modal-header">
                <span  id="stitle">Alerted Entry</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body kt-scroll" data-scroll="false" data-height="200" data-scrollbar-shown="true">
         <!--begin:: Widgets/Tasks -->
            <form class="kt-form" id="kt_form">
              <div class="row">
                <div class="col-xl-12">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <div class="" *ngIf="toggle">
                          <json-editor class="col-md-12" style="min-height: 300px;" [options]="editorOptions"
                                        [data]="alerted_data_json"></json-editor>
                        </div>
                      </div>

                    </div>
              </div>
              <div class="col-xl-2"></div>
            </div>
            </form>
         <!--end:: Widgets/Tasks -->
          </div>
          <div class="modal-footer align-center">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
         </div>
       </div>
     </div>
 <!--End:: Modal-->
        <!-- begin:: Portlet/Tag -->
        <div class="kt-portlet kt-portlet--mobile kt-portlet--responsive-mobile" style="margin-bottom:0px;">
          <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                  <span class="kt-portlet__head-icon">
                   <i class="kt-font-brand fas fa-exclamation-triangle"></i>
                  </span>
                  <h3 class="kt-portlet__head-title">
                    Alerts - {{rule_name}}
                  </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                  <div class="kt-portlet__head-wrapper">
                    <a href="javascript:void(0);" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark"
                      data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
                      <i class="fas fa-chevron-left back_icon_align"></i>
                      Back
                    </a>
                  </div>
                </div>
          </div>
          <div class="kt-portlet__body">
            <div class="" style="margin-bottom: 60px;" >
              <!--begin: Datatable -->
                  <!-- <button type="button" (click)="get_csv_data(id)" class="btn btn-secondary export_button">Export</button> -->
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-checkable alerts_datatable" style="text-align: center;" >
                <thead>
                  <tr>
                    <th  style="text-align:center">
                      <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"/>
                      <div class="resolve_alerts_dropdown-btn">
                        <div class="dropdown-toggle" data-toggle="dropdown" title="Select" aria-haspopup="true" aria-expanded="false">
                          <div class="dropdown-menu" >
                            <a class="dropdown-item" (click)="multiResolveAlert(true)">Resolve Selected</a>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th>Host</th>
                    <th>Severity</th>
                    <th>Created At</th>
                    <th>Rule Name</th>
                    <th>Alerted Entry</th>
                    <th>Aggregated Count</th>
                    <th class="status">Status</th>
                  </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let alrowdata of alert_data; let i = index ">
                      <td >
                        <input type="checkbox"  name="list_name" [(ngModel)]="checklist[i].isSelected" (change)="isAllSelected()"/>
                      </td>
                        <td style="vertical-align:middle;">
                          <a [routerLink]="['/hosts/', alrowdata.node_id]" class="active" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="click -> Host Details" style="color:#5867dd;font-weight: 600;">{{alrowdata.hostname}}</a>
                        </td>
                        <td style="vertical-align:middle;">
                          <span *ngIf="alrowdata.severity == 'CRITICAL'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='CRITICAL'><img alt='' src='./assets/media/icons/error-hover.gif'  height="35" width="35" alt="" /></span>
                          <span *ngIf="alrowdata.severity == 'INFO'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='INFO'><img alt='' src='./assets/media/icons/info.svg'  height="35" width="35" alt="" /></span>
                          <span *ngIf="alrowdata.severity == 'WARNING'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='WARNING'><img alt='' src='./assets/media/icons/warning.svg'  height="35" width="35" alt="" /></span>
                          <span *ngIf="alrowdata.severity == 'LOW'" class='logo-color menu-icon' style='font-weight: 400;' data-toggle='kt-tooltip' data-placement='top' title='LOW'><img alt='' src='./assets/media/icons/info.svg'  height="35" width="35" alt="" /></span>

                        </td>
                        <td style="vertical-align:middle;">
                          {{alrowdata["created_at"] | dateAgo}}
                        </td>

                        <td style="vertical-align:middle;">
                          <a  [routerLink]="['/rules', alrowdata.rule?.id,'edit']" class="active"  data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="click -> Rule Details" style='font-weight: 600;color: #5867dd;'><code>{{alrowdata.rule.name}}</code></a>
                        </td>
                        <td style="vertical-align:middle;">
                          <span class='logo-color menu-icon' style='font-weight: 400; cursor: pointer;' data-toggle='modal' data-target="#myModal" data-placement='top' (click)="showdata(alrowdata.alerted_entry, 'alert_entry')" title='View Alerted Entry'><img alt='' src='./assets/media/viewfile.svg'  height="25px" width="25px" alt="" /></span>
                        </td>
                        <td>
                          <a  data-toggle="modal" href="#Agg_alerts" (click)="getAlertsAggregatedData(alrowdata.id)">{{alrowdata.aggregated_events_count}}</a>
                        </td>
                        <td style="vertical-align:middle;">
                          <button class="btn btn-outline-secondary btn-sm alerts_resolve_btn_width" style="color:#5867dd"  (click) ="resolveAlert(alrowdata.id,false)"> RESOLVE </button>
                        </td>
                      </tr>
                </tbody>
              </table>
              <div *ngIf="alert_data?.length == 0" >
                <span style=" text-align: center; padding-left: 450px;font-size: larger;font-weight: 600;">
                 {{this.errorMessage}}
                </span>
              </div>
              <!--end: Datatable -->
            </div>
          </div>
          <!--Begin:: Modal-->
            <div class="modal fade" id="Agg_alerts" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="max-width:100%;">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="kt-portlet__head-title" style="font-size: 15px">
                      Other Alerts in the aggregated cluster
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Close"></button>
                  </div>
                    <div class="modal-body">
                      <div class="card-body query_tab">
                            <div  class="tab-content">
                                <div class="" >
                                    <div  *ngIf="aggregateTabLength==0"class="alerts_aggretated_table">No data found</div>
                                    <ul  class="nav nav-pills nav-fill nav-background nav-wd" role="tablist" *ngIf="aggregated_data.length <= 1">
                                      <li *ngFor="let aggregated_data_values of aggregated_data " class="nav-item">
                                        <a class="nav-link" data-toggle="tab" (click)="GetAggregatedDataFilterWithQueryName(aggregated_data_values)"[ngClass]="{'active': alert_selectedItem == aggregated_data_values}" style="cursor: pointer;">{{ aggregated_data_values}}</a>
                                      </li>
                                    </ul>
                                    <ul  class="nav nav-pills nav-fill nav-background" role="tablist" *ngIf="aggregated_data.length > 1">
                                      <li *ngFor="let aggregated_data_values of aggregated_data" class="nav-item">
                                        <a class="nav-link" data-toggle="tab" (click)="GetAggregatedDataFilterWithQueryName(aggregated_data_values)"[ngClass]="{'active': alert_selectedItem == aggregated_data_values}" style="cursor: pointer;">{{ aggregated_data_values}}</a>
                                      </li>
                                    </ul>
                                        <div class="aggregated_table_data">
                                          <table id="AggregatedData_table" datatable [dtOptions]="aggregatedOptions" [dtTrigger]="dtTriggerAggregatedAlerts"  class="table table-bordered table-hover table-checkable aggregated_table" >
                                            <thead>
                                                <tr>
                                                  <th>{{alert_selectedItem}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <tr *ngFor="let aggregated_value of aggregatelist" style="font-size: 13px; font-family:Poppins; font-weight: 600;">
                                                <td class="cell-breakWord">
                                                  <div (click)="ele.class = ele.class == 'showChildren' ? '' : 'showChildren'" [ngClass]="{ hideChildren : ele.class !== 'showChildren' }" #ele >
                                                    <font color='#16ace3'>
                                                       <div >
                                                         <div class="sql hljs desc-background_rules container px-0" [class.show_columns]="aggregated_value.visible_1" style="cursor: pointer;">
                                                            {{myjson.stringify(aggregated_value.columns)}}
                                                          </div>

                                                       </div>
                                                    </font>
                                                    <div>
                                                      <div class="col-10"></div>
                                                      <th >
                                                         <dt *ngFor="let subhostdata of aggregated_value.columns | keyvalue">
                                                           <dl  style="word-break: break-word;padding-left: 45px;" >
                                                              {{subhostdata.key}}
                                                              {{":"}}
                                                            {{subhostdata.value}}
                                                         </dl>
                                                       </dt>
                                                    </th>
                                                   </div>
                                                  </div>
                                                </td>

                                             </tr>
                                            </tbody>
                                        </table>
                                         </div>
                                         <div *ngIf="aggregatelist?.length === 0" class="text-center">
                                           <span style="font-size: larger;font-weight: 600;">
                                             {{errorMessage}}
                                           </span>
                                         </div>
                                </div>
                            </div>
                      </div>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
             <!--End:: Modal-->
          <div class="modal" id="resolveAlertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display: none;z-index: 910; position: fixed; background-color: hsla(0, 0%, 0%, 0.45)">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content" style="width:650px;margin:auto" >
                <div class="modal-header">
                  <h5 class="title kt-portlet__head-title" style="color: #646c9a;">Change Status for Run Untrusted Executable </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeResolveAlert()"></button>
                </div>
                <div class="modal-body kt-scroll" data-scroll="true" data-height="200" data-scrollbar-shown="true">
                  <form class="kt-form ml-4" id="kt_form" [formGroup]="resolveAlertForm" (ngSubmit)="resolveAlertSubmitForm()">
                    <div class="row" style="font-size: 11px;">
                      <div class="col-xl-12" style="padding: 0px;">
                        <div class="form-group row" style="margin-bottom: 10px;">
                          <label class="col-12 col-form-label" style="color: #646c9a;">
                            Changing the status of an alert to resolved state requires user verdict.
                            Do you think this alert is a:
                          </label>
                          <div class="col-10">
                            <div class="kt-radio-inline">
                              <label class="kt-radio">
                                <input type="radio" (change)="onItemChange($event.target.value)" formControlName="resolveAlert"  name="resolveAlert" value="True Positive">
                                <label style="color: #646c9a;">True Positive</label>
                                <span></span>
                              </label>
                              <label class="kt-radio">
                                <input type="radio" (change)="onItemChange($event.target.value)" formControlName="resolveAlert"  name="resolveAlert" value="False Positive" >
                                <label style="color: #646c9a;">False Positive</label>
                                <span></span>
                              </label>
                           </div>
                           <span class="error-msg text-danger" *ngIf="submitted && resolveAlertForm.controls['resolveAlert'].errors?.required" style="font-size: 90%">
                            Please select any option above!
                          </span>
                          </div>
                        </div>
                        <div class="form-group row" style="color: #646c9a;">
                          <!-- <label class="col-sm-2 col-form-label form--label">Comments</label> -->
                          <div class="col-11">
                            <textarea class="form-control" formControlName="comment" name="comment" placeholder="Please give us feedback on this alert. (Optional)" ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="modal-footer">
                    <button type="submit"class="btn btn-primary">Submit</button>
                  </div>
                  </form>
                </div>
            </div>
            </div>
          </div>
        </div>
        <!-- end:: Portlet/Tag -->
      </div>
    </div>
  </div>
