<!--begin::Portlet-->
<div class="kt-grid kt-grid--hor kt-grid--root">
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">


<div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile" id="kt_page_portlet">
<div class="kt-portlet__head kt-portlet__head--lg">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title txt-fmly">

  <i class="fa fa-plus-square"></i>
  Add Query
  <!-- {% endif %} -->
</h3>
&nbsp;

</div>
<div class="kt-portlet__head-toolbar">
<div class="kt-portlet__head-wrapper">
  <a href="javascript:void(0)" (click)="goBack()" class="btn btn-clean btn-sm" data-skin="dark" data-toggle="kt-tooltip" data-placement="top" title="Back to Previous Page">
    <i class="fas fa-chevron-left back_icon_align"></i>
    Back
  </a>
</div>
</div>
</div>
<div class="kt-portlet__body txt-fmly">
  <form class="kt-form" [formGroup]="addQuery" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-12">
              <div class="kt-section kt-section--first">
                  <div class="kt-section__body">

                      <div class="form-group row required">

                        <div class="col-2 col-form-label">

                          <label class="required">Name:</label>

                          </div>

                          <div class="col-10">
                            <input type= "text" class="form-control" name="name" id="name" [(ngModel)]="addQueryObj.name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                         <div *ngIf="f.name.errors.required">Name is required</div>
                         </div>


                          </div>
                      </div>
                      <div class="form-group row required">
                         <div class="col-2 col-form-label">
                           <label class="required">Query:</label>

                           </div>

                          <div class="col-10">
                            <input type="hidden" formControlName="sql" name="sql" id="sql" value="" [(ngModel)]="addQueryObj.sql" [ngClass]="{ 'is-invalid': submitted && f.sql.errors }">
                            <div class="query-editor">
                              <section class="query-editor__wrapper">
                                <div id="js-query-editor" class="query-editor__flex-editor" style="flex-basis: calc((25vh));">
                                  <ace-editor
                                    #editor [(text)]="queryText" style="height:70px;">
                                  </ace-editor>
                                </div>
                              </section>
                            </div>
                            <div *ngIf="submitted && f.sql.errors" class="invalid-feedback">
                              <div *ngIf="f.sql.errors.required">Query is required</div>
                              </div>
                            <span class="description_ex">Example: select * from processes;</span>
                          </div>
                      </div>
                      <div class="form-group row required">
                          <div class="col-2 col-form-label">
                            <label class="required">Interval <span class="intrvl-fnt-sm">(in secs)</span>:</label>
                            </div>
                          <div class="col-10">
                           <input type= "number"   class="form-control" min="1" name="interval" id="interval" [(ngModel)]="addQueryObj.interval" formControlName="interval" [ngClass]="{ 'is-invalid': submitted && f.interval.errors }"  />

                            <div *ngIf="submitted && f.interval.errors" class="invalid-feedback">
                            <div *ngIf="f.interval.errors.required">interval field is required</div>
                            <div *ngIf="f.interval.errors.min">Please select a positive value </div>
                            </div>


                          </div>
                      </div>

                      <div class="form-group row required">
                        <label class="col-2 col-form-label" for="platform">Platform</label>
                        <div class="col-10">

                         <select  class="form-control r-selectpicker" id="platform" name="platform" placeholder="select platform" formControlName="platform" class="form-control" [(ngModel)]="addQueryObj.platform" >
                          <option value="all">All</option>
                          <option value="darwin">Darwin</option>
                          <option value="linux">Linux</option>
                          <option value="freebsd">FreeBSD</option>
                          <option value="posix">POSIX Compatible</option>
                          <option value="windows">Windows</option>
                          </select>
                         </div>
                       </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">
                          Version
                        </label>


                          <div class="col-10">
                            <input type= "text" class="form-control" name="version" id="version" [(ngModel)]="addQueryObj.version" formControlName="version"/>


                          </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">
                          Description
                        </label>

                          <div class="col-10">
                            <textarea class="form-control" rows="3" name="description" id="description" [(ngModel)]="addQueryObj.description" formControlName="description" ></textarea>

                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-2 col-form-label">Value</label>
                          <div class="col-10">
                              <textarea class="form-control" rows="3" name="value" [(ngModel)]="addQueryObj.value" formControlName="value"></textarea>
                          </div>
                      </div>


                      <div class="form-group row">
                        <label class="col-2 col-form-label">packs</label>
                        <div class="col-10">
                          <angular2-multiselect [data]="dropdownPacknameList" [(ngModel)]="selectedPacknameItems" formControlName="packs"
                              [settings]="dropdownPacknameSettings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
                          </angular2-multiselect>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-2 col-form-label">
                          Tags
                          </div>


                          <div class="col-10">
                            <textarea class="form-control" rows="3" name="tags" placeholder="One tag per line" [(ngModel)]="addQueryObj.tags" formControlName="tags"></textarea>

                          </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">Query Options</label>

                          <div class="col-10">
                              <div class="kt-checkbox-inline">


                                  <div class="checkbox col-sm-5 row">
                                      <label class="mr-2">

                                        <input formControlName="snapshot" type="checkbox" [(ngModel)]="snapshot" >

                                        Snapshot

                                     </label>
                                     <div class="info-icon">

                                       <a href="javascript:void(0);" tabindex="0" class="help"  role="button" data-toggle="popover"
                                       aria-label="Snapshot queries, those with snapshot: true will not store differentials and will not emulate an event stream.Snapshots always return the entire results from the query on the given interval.">
                                         <span class="badge badge-pill badge-light fa fa-info" data-placement="top" title="info"> </span>
                                       </a>
                                     </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>


              <div class="kt-portlet__foot txt-fmly">
                <div class="mandary ">
                    <span class="" style="color: #e32;">*</span><span style="font-size: smaller;color: #646c9a;"> Mandatory Fields</span>
                  </div>
                <div class="kt-form__actions kt-form__actions--center">

                  <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>Add</button>


                  <button type="reset"(click)="clearQuery()" style="margin-left:5px;" style="margin-left:5px;" class="btn btn-secondary">Clear</button>
                </div>

              </div>
          </div>
          <div class="col-xl-2"></div>
      </div>
  </form>
</div>
</div>
</div>
</div>
</div>



<!--end::Portlet-->
