.query-editor {
  min-height: 0;
}
.form-group{
  color: #646c9a !important;
}
.query-editor__flex-editor {
  flex-basis: calc((10vh));
}
.ace_gutter-layer {
  display: none;
}
.mandary {
  margin-top: -10px;
  margin-left: 0px;
}
.required label:after {
  color: #e32;
  content: ' *';
  display:inline;
}
.description_ex {
  color: #9da2bf;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  font-family: system-ui;
}
.form-group {
  margin-bottom: 1.3rem !important;
}
.show>.btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
  color: #48465b;
  background: #ffffff;
  border-color: #9aabff;
}
.back_icon_align {
  vertical-align: unset !important;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   font-weight: 500;
   color:  #464457;
}
.query-editor {
  border-bottom: 4px solid #929296;
  padding-bottom:11px;
  min-height: 0;
}
.query-editor__flex-editor {
  flex-basis: calc((25vh));
}
.badge {
display: inline-block;
padding: .5em .75em;
font-size: 85%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.help{
  position:relative;
  box-sizing:border-box;
  width:20px;
  height:20px;
  background:#808080;
  border:0;
  padding:0;
  border-radius:50%;
  font-size:12px;
  font-weight:700;
  color:#fff;
  cursor:pointer;
}
.help:hover:before,
.help:focus:before{
  content:'';
  position:absolute;
  width:0;
  height:0;
  border:4px solid transparent;
  border-right-color:#808080;
  border-right-color:rgba(0,0,0,.5);
  border-left:0;
  top:0;
  bottom:0;
  margin:auto 0;
  left:20px;
}
.help:hover:after,
.help:focus:after{
  content:attr(aria-label);
  position:absolute;
  top:-6px;
  left: 24px;
  height:64px;
  line-height:32px;
  padding:0 10px;
  font-weight:400;
  text-align:left;
  background:#808080;
  background:rgba(0,0,0,.5);
  border-radius:3px;
  /* white-space:nowrap; */
  width: 46rem;
  word-break: break-all;
  color:#fff;
}
::ng-deep .kt-pack .dropdown-list{
  width: 300px !important;
}
