/* @import url("../../../css/pack.css");
@import url("../../../public/css/common.css"); */
.active {
  background-color: #f7f8fa;
}


.no-mar-botom{
  margin-bottom: 0px;
}
.desc-background-query {
  font-size: 100%;
  color: #e83e8c;
  word-break: break-word;
  font-family: Roboto;
}
.head-table-query {
  font-weight: 600 !important;

}
.portlet-body_align {
  height: 680px;
  margin-bottom:0px;
  border: 15px solid #ebedf2;
  padding: 10px;
}
.portlet-body_align__table {
  margin-bottom:0px;
  border: 15px solid #ebedf2;
}
.nav-pills {
  margin: 0 0 0 25px !important;
}

.txt-clr{
  color: indianred;
  margin-bottom: unset;
  font-weight: 400;
}
.kt-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #184ba1;
}
.truncate_query {
  line-height: 1.5;
  height: 49px;
  overflow: hidden;
}
.show {
  overflow: visible;
  height: auto;
}
.txt-fmly{
  font-family: Roboto;
}
/* packs.css Start */
.conf-table-val {
  line-height: 1.4em;
}
table {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-border-horizontal-spacing: 10px;
  -webkit-border-vertical-spacing: 10px;
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
  display: table;
  border-color: grey;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.1rem;
   font-weight: 600;
   color:  #464457;
}
.badge {
display: inline-block;
padding: .5em .75em;
font-size: 85%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.help{
  position:relative;
  box-sizing:border-box;
  width:20px;
  height:20px;
  background:#808080;
  border:0;
  padding:0;
  border-radius:50%;
  font-size:12px;
  font-weight:700;
  color:#fff;
  cursor:pointer;
}
.help:hover:before,
.help:focus:before{
  content:'';
  position:absolute;
  width:0;
  height:0;
  border:4px solid transparent;
  border-right-color:#808080;
  border-right-color:rgba(0,0,0,.5);
  border-left:0;
  top:0;
  bottom:0;
  margin:auto 0;
  left:20px;
}
.help:hover:after,
.help:focus:after{
  content:attr(aria-label);
  position:absolute;
  top:-6px;
  left: 24px;
  height:32px;
  line-height:32px;
  padding:0 10px;
  font-weight:400;
  text-align:left;
  background:#808080;
  background:rgba(0,0,0,.5);
  border-radius:3px;
  white-space:nowrap;
  color:#fff;
}