.yar_view:hover  {
    color: #518c24;
}

/* .btn-success.active{
  color: #fff !important;
  background-color: #518c24 !important;
  border-color: #518c24 !important;
} */

.fa-lg {
  font-size: 1.5rem !important;
}

.yar_delete:hover {
    color: crimson;
}

.table thead th {
    font-weight: 500;
}
.txt-clr{
  color: indianred;
  text-align: center;
  /* margin-bottom: 0px; */
  font-weight: 400;
}
.back_icon_align {
  vertical-align: unset !important;
}
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
   margin: 0;
   padding: 0;
   font-size: 1.2rem;
   font-weight: 500;
   color:  #464457;
}
.btn-info{
  padding: .65rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  }
  .btn-danger{
    padding: .65rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  }
  .custom-input-file {
    width: 100%;
    color: #495057;
    line-height: 1.5;
    padding: 0.65rem 1rem;
    font-weight: 400;
    border: 1px solid #ebedf2;
    border-radius: 4px;
  }
  .swal-title {
    font-size: 11px !important;
  }

  .kt-portlet__head-wrapper{
    height: 100%;
}
.kt-portlet__head-tabs {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-header-tabs{
    height: 100%;
    color: #22776e;
}

.kt-portlet__head-tabs>.nav-tabs {
    margin: 0 0 0 0;
    border-bottom: 0px;
    height: 100%;
    color: #22776e;
}

.kt-portlet__head-tabs>.nav-tabs>.nav-item {
    margin: 0 0 0 0;
}

div > .nav-link:first-child {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.nav-header-tabs>.nav-link.nav-link.active:first-child{
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
div >.nav-link {
    border-right: 1px solid #e8e8e8;
    padding: 12px;
    align-items: center;
    height: 100%;
    display: flex;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active{
    border-bottom: none !important;
    box-shadow: inset 0px -4px 0px #22776E;
    color: #22776e;
}
.nav-header-tabs>.nav-link{
    color: #22776E;
}
.nav-link.nav-link-active{

    color: #22776E !important;
}



.kt-portlet__head-tabs{
  color: #22776E;
  display: flex;
  align-items: center;
}
.kt-portlet__head-tabs > .nav-tabs{
  margin: 0 0 0 0;
  border-bottom: 0px;
  height: 100%;
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item{
  margin: 0 0 0 0;
  
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item:first-child > .nav-link {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item > .nav-link {
  color: #22776E;
  border-right: 1px solid #e8e8e8;
  padding: 12px;
  align-items: center;
  height: 100%;
  display: flex;
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item > .active {
  box-shadow: inset 0px -4px 0px #22776E;
  border-bottom: none !important;
}


.kt-portlet__head-wrapper{
  height: 100%;
}


.kt-portlet__head-tabs {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-header-tabs{
  height: 100%;
}

.kt-portlet__head-tabs>.nav-tabs {
  margin: 0 0 0 0;
  border-bottom: 0px;
  height: 100%;
}

.kt-portlet__head-tabs>.nav-tabs>.nav-item {
  margin: 0 0 0 0;
}

div > .nav-link:first-child {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

div >.nav-link {
  border-right: 1px solid #e8e8e8;
  padding: 12px;
  align-items: center;
  height: 100%;
  display: flex;
}
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active{
  border-bottom: none !important;
  box-shadow: inset 0px -4px 0px #22776E;
  color: #22776e;
}
.kt-portlet__head-title{
  font-weight:500;
  padding-right:15px;
  padding-top:7px;
  padding-left:10px;
  font-size:1.2rem
}



.kt-portlet__head-tabs{
  color: #22776E;
  display: flex;
  align-items: center;
}
.kt-portlet__head-tabs > .nav-tabs{
  margin: 0 0 0 0;
  border-bottom: 0px;
  height: 100%;
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item{
  margin: 0 0 0 0;
  
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item:first-child > .nav-link {
  border-left: 3px solid #f9f9f9;
  border-right: 3px solid #f9f9f9;
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item > .nav-link {
  color: #22776E;
  border-right: 3px solid #f9f9f9;
  padding: 12px;
  align-items: center;
  height: 100%;
  display: flex;
}
.kt-portlet__head-tabs > .nav-tabs > .nav-item > .active {
  box-shadow: inset 0px -4px 0px #22776E;
  border-bottom: none !important;
}


.kt-portlet__head-wrapper{
  height: 100%;
}


.kt-portlet__head-tabs {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-header-tabs{
  height: 100%;
}

.kt-portlet__head-tabs>.nav-tabs {
  margin: 0 0 0 0;
  border-bottom: 0px;
  height: 100%;
}

.kt-portlet__head-tabs>.nav-tabs>.nav-item {
  margin: 0 0 0 0;
}

div > .nav-link:first-child {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

div >.nav-link {
  border-right: 1px solid #e8e8e8;
  padding: 12px;
  align-items: center;
  height: 100%;
  display: flex;
}
/* Normal */
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link, .nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link, .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link, .nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link{
  border-bottom: none !important;
  color: #4D4D4D;
}
/* Hover */
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link:hover{
  border-bottom: none !important;
  box-shadow: inset 0px -4px 0px #d1d1d1;
  color: #4D4D4D;
}
/* Active */
.nav-tabs.nav-tabs-line.nav-tabs-line-success.nav.nav-tabs .nav-link.active,.nav-tabs.nav-tabs-line.nav-tabs-line-success a.nav-link.active{
  border-bottom: none !important;
  box-shadow: inset 0px -4px 0px #22776E;
  color: #22776e !important;
}
.kt-portlet__head-title{
  font-weight:500;
  padding-right:15px;
  padding-top:7px;
  padding-left:10px;
  font-size:1.2rem
}
.kt-portlet .kt-portlet__head{
  justify-content: space-between;
}
.kt-portlet__head-anchor{
  margin-right: 60px;
}
.kt-portlet__head-icon > i {
  font-size: 19px;
}
.dropdown-item{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.row-filter-search{
  max-width: fit-content;
}
.mt-18{
  margin-top: 18px !important;
}
.td-middle{
  vertical-align: middle;
  text-align: center;
}
.no-data{
  background-color: white;
  font-size: larger;
}
.myicon {
  display: inline-block;
  filter:  brightness(0) invert(1);
  cursor: pointer;
}
.pane-body{
  padding: 25px;
}
.vertical-middle{
  vertical-align: middle;
}
span.logo-color:not(:first-child){
  margin-left: 20px;
}